:root{
  --White : #fff;
--chou-navy: #2A2846;     /* 메인 테두리 및 서체 (다크 초코 네이비) */
  --bubble-pink: #FF8A8A;    /* 활성화 & 러닝 패스 포인트 (풍선껌 핑크) */
  --melon-green: #2CD3A1;    /* 리사이즈 & 서브 포인트 (멜론 소다) */
  --cream-bg: #FFFDF9;       /* 카드 기본 베이스 (부드러운 크림 화이트) */
  --toy-purple: #242238;     /* 컨트롤 패널 배경 */
  --deep-bg: #1A1926;        /* 워크스페이스 배경 */
}